body {
  margin: 0;
  background: #333;
  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 16px;
  padding: 16px;
  font-family: sans-serif;
  text-align: left;
  color: #fff;
}

button {
  color: #fff;
  background: #0073e6;
  padding: 4px 8px;
  border: 2px solid #0073e6;
  border-radius: 4px;
}

button:focus {
  outline: none;
  border-color: #1280ee;
}
